
.vs/testDeploy/v15/Server/sqlite3/db.lock
design.graphml
mvc.png
AdminConsole/AdminConsole.csproj
AdminConsole/App.config
AdminConsole/bin/Debug/AdminConsole.exe
AdminConsole/bin/Debug/AdminConsole.exe.config
AdminConsole/bin/Debug/AdminConsole.pdb
AdminConsole/bin/Debug/DataService.dll
AdminConsole/bin/Debug/DataService.dll.config
AdminConsole/bin/Debug/DataService.pdb
AdminConsole/bin/Debug/System.Data.SqlClient.dll
AdminConsole/obj/Debug/AdminConsole.csproj.CopyComplete
AdminConsole/obj/Debug/AdminConsole.csproj.CoreCompileInputs.cache
AdminConsole/obj/Debug/AdminConsole.csproj.FileListAbsolute.txt
AdminConsole/obj/Debug/AdminConsole.csprojResolveAssemblyReference.cache
AdminConsole/obj/Debug/AdminConsole.exe
AdminConsole/obj/Debug/AdminConsole.pdb
AdminConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AdminConsole/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AdminConsole/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AdminConsole/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AdminConsole/obj/Release/AdminConsole.csproj.CoreCompileInputs.cache
AdminConsole/obj/Release/AdminConsole.csprojResolveAssemblyReference.cache
AdminConsole/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AdminConsole/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AdminConsole/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AdminConsole/packages.config
AdminConsole/Program.cs
AdminConsole/Properties/AssemblyInfo.cs
